.workspace-ribbon, .view-actions, .workspace-tab-header-tab-list, .sidebar-toggle-button {
  display: none !important;
}

.view-header-left {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
